AutopilotScheduler/n8n-workflows/linkedin-outreach-active.json
{
  "active": true,
  "name": "LinkedIn Outreach Automation - ACTIVE",
  "version": 1,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger - ACTIVO",
      "disabled": false
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "PLACEHOLDER_GOOGLE_SHEETS_ID",
        "sheetName": "PROFILES TO SCRAPE",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [200, 0],
      "id": "read-profiles-001",
      "name": "Read Profiles from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "placeholder",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [400, 0],
      "id": "loop-profiles-001",
      "name": "Loop Over Profiles"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nFJndFXA5zjCTuudP/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PLACEHOLDER_APIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": \"{{ $json.QUERY }}\",\n  \"maxPagesPerQuery\": 1,\n  \"resultsPerPage\": 10,\n  \"languageCode\": \"es\",\n  \"countryCode\": \"es\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "id": "google-search-scraper-001",
      "name": "Google Search Scraper"
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "=Eres un experto en análisis de perfiles profesionales. Analiza este perfil de LinkedIn y proporciona un análisis JSON con: psychologicalProfile, businessMoment, salesAngle, bottleneck, personalizedMessage.",
              "role": "system"
            },
            {
              "content": "=Nombre: {{ $json.name }}\nHeadline: {{ $json.headline }}\nAbout: {{ $json.about }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [800, 0],
      "id": "ai-analysis-001",
      "name": "AI Analysis",
      "credentials": {
        "openAiApi": {
          "id": "placeholder",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "PLACEHOLDER_GOOGLE_SHEETS_ID",
        "sheetName": "PROFILE INFO",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FULL NAME": "={{ $json.name }}",
            "HEADLINE": "={{ $json.headline }}",
            "PROFILE URL": "={{ $json.url }}",
            "ANALYSIS": "={{ $json.message.content }}",
            "TIMESTAMP": "={{ $now.toISOString() }}"
          },
          "matchingColumns": ["PROFILE URL"],
          "schema": [
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HEADLINE",
              "displayName": "HEADLINE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROFILE URL",
              "displayName": "PROFILE URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ANALYSIS",
              "displayName": "ANALYSIS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1000, 0],
      "id": "save-results-001",
      "name": "Save Results to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "placeholder",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - ACTIVO": {
      "main": [[{"node": "Read Profiles from Sheet", "type": "main", "index": 0}]]
    },
    "Read Profiles from Sheet": {
      "main": [[{"node": "Loop Over Profiles", "type": "main", "index": 0}]]
    },
    "Loop Over Profiles": {
      "main": [
        [{"node": "Google Search Scraper", "type": "main", "index": 0}],
        []
      ]
    },
    "Google Search Scraper": {
      "main": [[{"node": "AI Analysis", "type": "main", "index": 0}]]
    },
    "AI Analysis": {
      "main": [[{"node": "Save Results to Google Sheets", "type": "main", "index": 0}]]
    },
    "Save Results to Google Sheets": {
      "main": [[{"node": "Loop Over Profiles", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
